.loader{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f1f1;
        animation: flash 2.4s both;
        position: fixed;
        z-index: 10000;
        opacity: 1;
      }


.lettre{
    font-size:80px;
    letter-spacing: 15px;
    margin-bottom:150px;
    animation:flash 1.2s linear infinite;
}

@keyframes flash{
    0% {
        color:white;
        text-shadow: 0 0 7px white;
    }

    90%{
        color:#292222;
        text-shadow:none;
    }

    100% {
        color:white;
        text-shadow: 0 0 7px white;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s; 
}
.lettre:nth-child(2){
    animation-delay: 0.2s;  
}
.lettre:nth-child(3){
    animation-delay: 0.3s
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s; 
}


@media (max-width:590px) {

    .lettre{
        font-size:25px;
    }
}