/*general*/

* {  font-family: 'Roboto', sans-serif;
}
   
body{
    margin:0;
}

.main-container{
    justify-content: center;
    width: 100%;
    min-width: 320px;
    background-color:white;
}



/**navbar**/
   
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.logo-navbar{
    display: flex;
    justify-content: center;
}

.logo-navbar img{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.logo-navbar-home{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 15px;
}

.logo-navbar-home img{
    width: 162px;
    height: 35px;

}

.elements-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position:relative;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color:#FFFFFF;
    padding-top:24px; 
    padding-bottom: 15px;
}

.elements-navbar .logo-navbar{
    display: flex;
    justify-content: center;
    width: 100%;  
}

.back-button .positionbtn{
    padding-left: 30px;
    color: black;
    font-size: 25px;
}

.back-button{
    position: absolute;
    top: 25px;
}


.elements-navbar .logo-navbar img{
    width: 162px;
    height: 35px;
}
    
.elements-navbar .back-button img{
    width: 16px;
    height: 17px;
    padding-left:23px;
    cursor: pointer;
}


.city-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height:50px;
}

.icon img{
    display:flex;
    margin-right:17px;
    width: 12px;
    height:16px;

}

.text-navbar p{
    font-weight: 510;
    font-size: 16px;
    color: #353535;
}
    


/* EXPLORE */

.section-explore{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color:#F6F6F6;
    ;
   }

.title-explore{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:20px;
    margin-bottom: -20px;
    width:80%;
   }

.text-explore{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    width: 85%;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 3px;
   }

.section-explore .last-element{
    display: flex;
   }

.section-explore .last-element button{
    height: 50px;
    width: 220px;
    font-size: 16px;
    font-weight: 500;
    padding-left:18px;
    padding-right:18px;
    border:none;
    border-radius: 25px;
    color: #EAEAEA;
    font-size: 16px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 154.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
   }

.section-explore .last-element button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}



/* PICTURE */

.section-picture{
    position:relative;
}

.section-picture img{
    width: 100%;
    height: 310px;
    margin-top:-270px;
    object-fit: cover;
    position: absolute;
    
}



/* MENU */

.menu{
    display:flex;
    flex-direction: column;
    position:relative;
    margin-top:270px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:#F6F6F6;
    ;

}

.menu .section-title{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right:45px;
    padding-top: 32px;
    line-height: 0;
    
}

.section-title h2{
    line-height: 1;
    font-family:'Shrikhand';
    font-size: 28px;
    font-weight:400px ;
    padding-left:14px;
}

.meals{
    padding-left: 13px;
    padding-right: 13px;
}

.container-meal{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 20px;
}


.title-meal p{
    width: 40px;
    border-bottom: 3px solid #99E2D0;
    font-size:16px;
    line-height: 2;
}

.boxes-meal .element-align{
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: white;
}

.boxes-meal .text-box{
    padding-left: 15px;
}

.text-box p{
    line-height: 1;
}

.text-box h3{
    line-height: 0.9;
}

.box-price{
    font-size:18px;
    font-weight: 700;
    padding-right:15px;
    padding-top: 26px;
    color:#353535;
}

.order{
    display: flex;
    justify-content: center;
    padding-bottom:40px;
}

.order a{
    text-decoration: none;
}

.menu .order button{
    display: flex;
    position:relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 220px;
    font-size: 16px;
    font-weight: 500;
    border:none;
    border-radius: 25px;
    color: #EAEAEA;
    font-size: 16px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
   }
   
.menu .order button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}


/* FUNCTIONING */
.section-functioning{
    width: 100%;
}


.title-functioning{
    font-weight:700;
    font-size:24px;
}

.steps-elements{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    padding-bottom: 55px;
    padding-left: 10px;
}

.functioning-elements{
    padding-top:48px;
    padding-left: 14px;
    background-color:#FFFFFF;
}

.steps-position{
    position: relative;
}

.steps-elements img{
    padding-left:42px;
}


.box{
    width: 100%;
    height: 72.38px;
    border-radius: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom:25px;
  
}

.text-position{
    display:flex;
    padding-left:24px;
    margin-right:18px;
}

.cercle-number{
    display:flex;
    position: absolute;
    margin-left: -10px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right:24px;
    border-radius: 20px;
    background: #9356DC;
}

.cercle-number span{
    color:white;
    font-size: 14px;
}

.steps-elements .element-align{
    display:flex;
    align-items: center;
}



/*RESTAURANTS*/

.restaurants{
    padding:14px;
    padding-bottom: 66px;
    background-color: #F6F6F6;

}

.restaurant-title{
    font-weight: 700;
    font-size: 24px;
}

.card{
    display:flex;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card a{
    text-decoration: none;
    color:black;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

 .new-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px 2px 2px 2px;
    background-color:#99E2D0;
    color:#008766;
    width: 80px;
    height: 29px;
    font-weight: 600;
    font-size: 14px;
}

.text-cards{
    width: fit-content;
    line-height: 0.5;
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-cards{
    font-size:18px;
}

.card-subtitle{
    font-size: 17px;
}

.restaurants-cards .card {
    display: flex;
    flex-direction:column; 
}

.restaurants-cards .position-bottom{
    margin-bottom:18px
}

.restaurants-cards img{
    position:relative;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

/*HEARTS-ANIM*/

.hearts-home i{
    position:absolute;
    bottom:25px;
    right:25px;
    font-size: 28px;
    transition: all 400ms ease-in-out;
}

.hearts-restaurant{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hearts-restaurant i{
    position: absolute;
    padding-left: 60px;
    font-size: 28px;
    transition: all 400ms ease-in-out;
}


.heart-opac{
    position:relative;
    opacity: 0;
    background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heart-opac:hover{
    opacity:1;
}

.heart-opac img{
    width: 22px;
    height: 22px;
}

/**FOOTER**/

.footer{
    position:relative;
    background-color: #353535;
    z-index: 1;
}

.footercolumn{
  padding-left:24px;
  padding-top: 22px;
  padding-bottom: 11px;
}

.text-details{
    line-height: 1.7;
    color:#F7F7F7
}

.text-details img{
    padding-right: 11px;
}

.logo-footer h3{
    color: white;
    font-family: 'Shrikhand';
    font-size: 18px;
}

span a{
    text-decoration: none;
    color: white;
}
